* {
  padding:0px;
  margin:0px;
}


body {
  background: url('../bilder/ghost-tile.jpg');
  width:100%;
  margin-left: auto;
  margin-right:auto;
}


/* Wrapperen er formen rundt, avgjør hvor bredt området på siden skal være, og midstiller. */
#wrapper {
width: 70%;
padding-top: 0%;
margin-left:15%;
margin-right:15%;
}


.video {
  margin-top:5%;
  width:39%;
  margin-left:12.5%;
  float:left;
  height:200px;
  margin-bottom:1%;
  background-color: CornflowerBlue;
  margin-right:1%;
}


.bilder {
  width:39%;
  margin-left:12.5%;
  float:left;
  height:200px;
  margin-bottom:1%;
  background-color: Blue;
  margin-right:1%;
}

.kart {
  width:39%;
  margin-left:12.5%;
  float:left;
  height:200px;
  margin-bottom:1%;
  background-color: Grey;
  margin-right:1%;

}


img {
  width:100%;
  height:auto;
  position:center;
  vertical-align: bottom;
}


img:hover {
  width:100%;
  height:auto;
  opacity: 0;
}


/* Diven med tekst */
.tekst {
  width: 30%;
  margin-top:5%;
  margin-right:17.5%;
  height:410px;
  background-color: #E60E0E;
  float:right;
  margin-bottom:1%;
  background-color: Red;
}


/*  Diven med kontakt */

.facebook {
  width:14%;
  background-color:#04FC00;
  float:right;
  margin-right: 33.5%;
  margin-top: -7%; 
  height: 100px;


}

.linkKatSek{
  position: relative;
  float: left;
  padding: 5px;
}




/* Test div*/
.test {
  width:15%;
  background-color:Yellow;
  float:right; 
  margin-right: 17.5%;

}


/* Tekst */

h1 {
  color:#FFF;
  font-family: "BTTF";
  font-size: 3em;
  margin-top:2%;
  margin-left:10%;
 }
 
 #sport {
  padding: 5px;
 }


 /* Font-face */

 @font-face {
    font-family: 'BTTF';
    src: url('../fonts/bttf.eot');
    src: url('../fonts/bttf.eot') format('embedded-opentype'),
         url('../fonts/bttf.woff') format('woff'),
         url('../fonts/bttf.ttf') format('truetype'),
         url('../fonts/bttf.svg#Backtothefuture2002Regular') format('svg');
}

 /* Media Queries */

@media (max-width: 900px)
{
  #wrapper { width:70%; margin-left:15%; margin-right:15%; }
  .facebook { width:100%; height:200px; margin-left: 0%; margin-top:2%; margin-bottom:1%;float:left; }
  .bilder { width:100%; height:200px; margin-left:0%; margin-top:2%; margin-bottom:1%; float:left;}
  .video { width:100%; height:200px; margin-left:0%; margin-top:2%; float:left; margin-bottom:1%;}
  .test { width:100%; height:200px; margin-left:0px; margin-top:2%; margin-right:0%; float:left; margin-bottom:1%;}
  .kart{width:100%; height:100px; float:left; margin-top:2%; margin-bottom:1%; margin-left: 0%;}
  .tekst{width:100%; float:left; margin-right:0%; margin-left:0%; margin-top:2%; padding-left:0%; padding-right:0%;}
  .kontakt img{ height:100px; width:50%; padding-left:25%; padding-right:25%;}
  img { height:200px;}
  h1 { font-size: 1em;}
}