* {
  padding:0px;
  margin:0px;
}


#sportbakgrunn {
  background: url('../bilder/bg_red2.png');
  background-attachment: fixed;
}

#hobbybakgrunn {
  background: url('../bilder/bg_blue2.png');
  background-attachment: fixed;
}

#sokresultatbg
{
  background:url("../bilder/bg.png");
  background-attachment: fixed;
}

/* Wrapperen er formen rundt, avgjør hvor bredt området på siden skal være, og midstiller. */
#wrapper {
width: 70%;
padding-top: 0%;
margin-left:15%;
margin-right:15%;
}

section
{
  width:60%;
  background-color:#78a6a3;
  margin-right: auto;
  margin-left: auto;
  margin-top: 3%;
  padding-bottom:5%;
}

.video {
  margin-top:5%;
  width:39%;
  margin-left:12.5%;
  float:left;
  height:200px;
  margin-bottom:1%;
  margin-right:1%;
}


.bilder {
  width:39%;
  margin-left:12.5%;
  float:left;
  height:200px;
  margin-bottom:1%;
  background-color: Blue;
  margin-right:1%;
  position: relative;
}

.gjemt {
  text-align: center;
  line-height: 200px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(53, 44, 44, 0.5);
  color: #fff;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: 300ms ease;
  -moz-transition: 300ms ease;
  -ms-transition: 300ms ease;
  -o-transition: 300ms ease;
  transition: 300ms ease;
}

.bilder:hover .gjemt {
  visibility: visible;
  opacity: 1;

}

.bilder img {
  height: 200px;
}

.kategoritest {
  width:39%;
  margin-left:12.5%;
  float:left;
  height:auto;
  margin-bottom:1%;
  margin-right:1%;

}


img {
  width:100%;
  position:center;
  vertical-align: bottom;
}

.tilbake
{
  float:right;
  margin-right:14.5%;
  margin-bottom:0.5%;
  margin-top:-0.4%;
  width: 20%;

}

nav
{
  background-color:#333333;
  box-shadow: 0px 5px 10px #4B4B4D;
  position:absolute;
  width:21%;
  display: inline;

}

/* Hover effekter */

.test img:hover {
  width:100%;
  height:auto;
  opacity: 0;
  -webkit-transition: 300ms ease;
  -moz-transition: 300ms ease;
  -ms-transition: 300ms ease;
  -o-transition: 300ms ease;
  transition: 300ms ease;
}



/* Diven med tekst */
.tekst_hobby{
  background: url('../bilder/tekstbokser/bla.png');
  opacity: 0.8;
  width: 30%;
  margin-top:1%;
  margin-bottom:1%;
  margin-right:17.5%;
  height:408px;
  float:right;

  
}

.tekst_sport {
  background: url("../bilder/tekstbokser/rod.png");
  width: 30%;
  margin-top:1%;
  margin-bottom:1%;
  margin-right:17.5%;
  height:408px;
  float:right;
}




/*  Diven med kontakt */

.facebook {
  width:14%;
  background-color:Gainsboro;
  float:right;
  margin-right: 33.5%;
  margin-top: -7%; 
  height: 100px;


}

.linkKatSek{
  position: relative;
  float: left;
  padding: 5px;
}



/* Test div*/
.test {
  width:15%;
  background: url('../bilder/medtekst/quiz-medtekst.jpg');
  background-size: cover;
  background-position: right;
  float:left; 
  margin-right: 17.5%;

}


/* Tekst */

h1 {
  color:#FFF;
  font-family: "google-spies";
  font-size: 3em;
  margin-top:2%;
  margin-left:12.5%;
  margin-bottom:-4%;
  letter-spacing: 4px;
 }
 
h2
{
  font-family: "CenturyGothic";
  font-size:2em;
  text-align: center;
  color:#000;
}

h3 {
  padding-left:2%;
  margin-top:2%;
}

h4 {
  padding-left: 2%;
  font-weight: normal;
}

p{ color:white;}

a {
  color: #FFF;

}

a:visited
{
  color: #FFF;
}

.bla 
{
  color:#1565B2;
}

.rod 
{
  color:firebrick;
}
 #sport {
  padding: 5px;
 }

small {
  color: White;
}

#karttekst {
  color: White;
}

/* Søk div */
.sok
{
  margin-top:0%;
  margin-right: 17.5%;
  padding-top: 2%;
  padding-bottom: 2%;
  padding-left: 1%;
  width: 29%;
  float:right;
  background: url('../bilder/search2.jpg');
  background-position: center;

} 

input[type="text"]
{
  width:70%;
  margin-left:2%;
  margin-right:2%;
}






 /* Font-face */

 @font-face {
    font-family: 'BTTF';
    src: url('../fonts/bttf.eot');
    src: url('../fonts/bttf.eot') format('embedded-opentype'),
         url('../fonts/bttf.woff') format('woff'),
         url('../fonts/bttf.ttf') format('truetype'),
         url('../fonts/bttf.svg#Backtothefuture2002Regular') format('svg');
}

@font-face {
    font-family: 'CenturyGothic';
    src: url('../fonts/gothic.eot');
    src: url('../fonts/gothic.eot') format('embedded-opentype'),
         url('../fonts/gothic.woff') format('woff'),
         url('../fonts/gothic.ttf') format('truetype'),
         url('../fonts/gothic.svg#CenturyGothicRegular') format('svg');
}

@font-face {
    font-family: 'google-spies';
    src: url('../fonts/google-spies.eot');
    src: url('../fonts/google-spies.eot') format('embedded-opentype'),
         url('../fonts/google-spies.woff') format('woff'),
         url('../fonts/google-spies.ttf') format('truetype'),
         url('../fonts/google-spies.svg#google-spies') format('svg');
}

 /* Media Queries */

@media (max-width: 900px)
{
  #wrapper { width:70%; margin-left:15%; margin-right:15%; }
  .facebook { width:100%; height:100px; margin-left: 0%; margin-top:2%; margin-bottom:5%;float:left; }
  .bilder { width:100%; height:200px; margin-left:0%; margin-top:2%; margin-bottom:1%; float:left;}
  .video { width:100%; height:200px; margin-left:0%; margin-top:2%; float:left; margin-bottom:1%;}
  .test { width:100%; height:200px; margin-left:0px; margin-top:1%; margin-right:0%; float:left; margin-bottom:1%;}
  .kategoritest { width:100%; height:200px; margin-left:0%; margin-top:2%;}
  .kart{width:100%; height:200px; float:left; margin-top:1%; margin-bottom:2%; margin-left: 0%; margin-right:0%;}
  .tekst_sport{width:100%; height:350px;float:left; margin-right:0%; margin-left:0%; margin-top:2%; margin-bottom:1%;padding-left:0%; padding-right:0%;}
  .tekst_hobby{width:100%; height:350px;float:left; margin-right:0%; margin-left:0%; margin-top:2%; margin-bottom:1%;padding-left:0%; padding-right:0%;}
  .kontakt img{ height:100px; width:50%; padding-left:25%; padding-right:25%;}
  .tilbake { height:40px; width:40px; margin-top:4%;  margin-right:40%;  margin-left:40%; display:none;}
  .sok { width:99%; float: left; margin-top:2%; margin-bottom: 5%;}
  a img { height:200px; opacity:1;}
  h1 { font-size: 2em; margin-bottom:0%; margin-left: 0%; text-align: center;}

}