body {
  background-image: url('../bilder/background_image.jpg');
}

.wrapper
{
  width: 80%;
  background-color: black;
  margin-left: 10%;
  margin-right: 10%;
}

header {
  width: 100%;
  height: 100px;
  background-color:#000;
  font-family: tahoma;
  font-size: 3em;
  text-align: center;
  padding-top:10px;
  color: #FFF;
  box-shadow: 1px 0px 5px #000;


}

section {
  width: 100%;
  height: 600px;
  background-color:#0D0D0D;
  box-shadow: 1px 0px 5px #000;
  margin-top:10px;
  padding-top: 10px;
  float:left;
  
}

article {
	position: left;
	width: 30%;
	background-color: #fff;
}





/*  Forsiden   */

.sport img
{
  width:30%;
  height: 600px;
  /*background-image: url('../bilder/gokart.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; */
  opacity: 0.4;
  margin-right:3%;
  margin-left:2%;
  float:left;
}

.sport img:hover
{
  opacity: 1;
}

.test img
{
  width: 30%;
  height:600px;
/*  background-image:url('../bilder/quiz.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; */
  opacity:0.4;
  margin-right:3%;
  float:left;
}

.test img:hover
{
  opacity: 1;
}

.hobby img
{
  width: 30%;
  height: 600px;
  float:left;
  opacity: 0.4;


}
.hobby img:hover {
  opacity: 1;

}

