*{
  padding:0px;
  margin:0px;
}

body
{
  background: url('../bilder/bg.png');
  width:100%;
  margin-left: auto;
  margin-right:auto;
  background-attachment: fixed;
}

/* Wrapperen er formen rundt, avgjør hvor bredt området på siden skal være, og midstiller. */
#wrapper {

width: 70%;
padding-top: 0%;
margin-left:15%;
margin-right:15%;



}


/* Diven, der det randommet innholdet vises */
.random 
{
  margin-top:10%;
  width:24%;
  margin-left:27.5%;
  float:left;
  background: url("../bilder/medtekst/random-medtekst-lang.jpg"); 
  background-size: cover;
  background-position: center;
  height:auto;
  margin-bottom:1%;
  background-color:#ad0987;
  margin-right:1%;
  overflow:hidden;

}


img
{
  width:100%;
  height:auto;
  position:center;
  vertical-align: bottom;
}

img:hover
{
  width:100%;
  height:auto;
  opacity: 0;
  -webkit-transition: 300ms ease;
  -moz-transition: 300ms ease;
  -ms-transition: 300ms ease;
  -o-transition: 300ms ease;
  transition: 300ms ease;
}



/* Diven med sport */
.sport
{
  width: 30%;
  margin-top:5%;
  margin-right:17.5%;
  height:auto;
  background: url("../bilder/medtekst/gokart-medtekst.jpg");
  background-size: cover;
  background-position: left;
  float:left;
  margin-bottom:1%;
}


/*  Diven med kontakt */

.kontakt
{
  width:15%;
  background:url('../bilder/medtekst/Mail-medtekst.jpg');
  background-size:cover;
  background-position: center;
  float:left;
  margin-top:1%;
  
}



/* Hobby div */

.hobby
{

  width: 39%;
  height: auto;
  float:left;
  margin-left:12.5%;
  margin-right:1%;
  background: url("../bilder/medtekst/hobby-medtekst.jpg");
  background-size: cover;
  background-position: center;

}





/* Test div*/
.test
{
  width:33%;
  height:auto;
  margin-top:-6.8%;
  float:right;
  margin-right:14.5%;
  margin-bottom:0%;
  background: url('../bilder/medtekst/quiz-medtekst.jpg');
  background-size: cover;
  background-position: right;
}



/* Søk div */
.sok
{
  margin-top:1%;
  margin-right:11.5%;
  margin-left:1%;
  padding-top: 2%;
  padding-bottom: 2%;
  padding-left: 1%;
  width: 19%;
  height:auto;
  float:right;
  background: url('../bilder/search2.jpg');
  background-position: center;

}

input[type="text"]
{
  width:70%;
  margin-left:2%;
  margin-right:2%;
}



/* Tekst */


h1 {
  color:#FFF;
  font-family: "google-spies";
  font-size: 3em;
  margin-top:2%;
  margin-left:12%;
  margin-bottom:-4%;
  letter-spacing: 4px;
 }
 
 h2 {
  color:#FFF;
  font-family:'CenturyGothic';
  font-size: 1em;
  margin-left:10%;
 }


 /* Font-face */

 @font-face {
    font-family: 'BTTF';
    src: url('../fonts/bttf.eot');
    src: url('../fonts/bttf.eot') format('embedded-opentype'),
         url('../fonts/bttf.woff') format('woff'),
         url('../fonts/bttf.ttf') format('truetype'),
         url('../fonts/bttf.svg#Backtothefuture2002Regular') format('svg');
}

@font-face {
    font-family: 'CenturyGothic';
    src: url('../fonts/gothic.eot');
    src: url('../fonts/gothic.eot') format('embedded-opentype'),
         url('../fonts/gothic.woff') format('woff'),
         url('../fonts/gothic.ttf') format('truetype'),
         url('../fonts/gothic.svg#CenturyGothicRegular') format('svg');
}

@font-face {
    font-family: 'google-spies';
    src: url('../fonts/google-spies.eot');
    src: url('../fonts/google-spies.eot') format('embedded-opentype'),
         url('../fonts/google-spies.woff') format('woff'),
         url('../fonts/google-spies.ttf') format('truetype'),
         url('../fonts/google-spies.svg#CenturyGothicRegular') format('svg');
}



 /* Media Queries */

 @media(max-width: 1024px) and (min-width: 640px) 
 {
  #wrapper { width:70%; margin-left:15%; margin-right:15%; }
  .sport { width:49%; height:200px; margin-right:0px; margin-top:2%; float:right; }
  .random { width:49%; height:200px; margin-left:0%; margin-top:2%; margin-bottom:0px; float:left;}
  .hobby { width:49%; height:200px; margin-left:0%; margin-top:2%; float:left; }
  .test { width:49%; height:200px; margin-left:0px; margin-top:1%; margin-right:0%; float:right;}
  .kontakt{width:49%; height:100px; clear:left; }
  .sok{width:49%; float:right; margin-right:0%; margin-left:0%; padding-left:0%; padding-right:0%;}
  img { height:200px; opacity:0;}
  h1 { font-size: 2em; padding-right:1%; margin-left:0%; margin-right:0%; margin-bottom:2%;}
 }

@media (max-width: 640px) and (min-width: 0px)
{
  #wrapper { width:70%; margin-left:15%; margin-right:15%; }
  .sport { width:100%; height:200px; margin-right:0px; margin-top:2%; margin-bottom:1%;float:left; }
  .random { width:100%; height:200px; margin-left:0%; margin-top:2%; margin-bottom:1%; float:left;}
  .hobby { width:100%; height:200px; margin-left:0%; margin-top:2%; float:left; margin-bottom:1%;}
  .test { width:100%; height:200px; margin-left:0px; margin-top:2%; margin-right:0%; float:left; margin-bottom:1%;}
  .kontakt{width:100%; height:100px; clear:left; margin-top:2%; margin-bottom:1%;}
  .sok{width:100%; float:left; margin-right:0%; margin-left:0%; margin-top:2%; padding-left:0%; padding-right:0%;}
  .kontakt img{ height:100px; width:50%; padding-left:25%; padding-right:25%;}
  img { height:200px; opacity:0;}
  h1 { font-size: 1.5em; margin-bottom:2%;}
}