*{
  padding:0px;
  margin:0px;
}

body
{
  background: url('../bilder/ghost-tile.jpg');
  width:100%;
  margin-left: auto;
  margin-right:auto;
}

/* Wrapperen er formen rundt, avgjør hvor bredt området på siden skal være, og midstiller. */
#wrapper {

width: 70%;
padding-top: 0%;
margin-left:15%;
margin-right:15%;



}


/* Diven, der det randommet innholdet vises */
.random 
{
  margin-top:10%;
  width:24%;
  margin-left:27.5%;
  float:left;
  height:auto;
  margin-bottom:1%;
  background-color:#ad0987;
  margin-right:1%;

}


#randombilde
{
  width:100%;
  height:auto;
  z-index:10;
  float:left;
  height:auto;
  margin-bottom:-0.5%;
  background-color:#ad0987;

}



img:hover
{
  width:100%;
  height:auto;
 opacity: 0;
 
}



/* Diven med sport */
.sport
{
  width: 30%;
  margin-top:5%;
  margin-right:17.5%;
  height:auto;
  background-color: #E60E0E;
  float:left;
  margin-bottom:1%;
}

.sport img
{
  position:center;
  width:100%;
  height:auto;
}

/*  Diven med kontakt */

.kontakt
{
  width:15%;
  background-color:#04FC00;
  float:left;
  margin-top:1%;
  
}

.kontakt img
{
  width:100%;
  height:auto;
}



/* Hobby div */

.hobby
{
/* margin-top:-7.5%;*/
  width: 39%;
  height: auto;
  float:left;
  margin-left:12.5%;
  margin-right:1%;
 



}

.hobby img
{


  width:100%;
  height:auto;
}


/* Test div*/
.test
{
  width:33%;
  height:auto;
  margin-top:0;
  float:right;
  margin-right:14.5%;
  margin-bottom:-0.5%;

  
}

.test img
{

  width:100%;
  height:auto;
  position: center;
}

/* Søk div */
.sok
{
  margin-top:1%;
  margin-right:11.5%;
  margin-left:1%;
  padding-top: 2%;
  padding-bottom: 2%;
  padding-left: 1%;
  width: 19%;
  height:auto;
  float:right;
  background: url('../bilder/search2.png');
  background-position: center;

}

input[type="text"]
{
  width:70%;
}



/* Tekst */
.tekst
{
 margin-left:10%;


}

h1{
  color:#FFF;
  font-family: tahoma;
  font-size: 3em;
  margin-top:2%;
 }
 
 /* Media Queries */

 @media (max-width: 1024px) and (min-width: 768px)
 {
  #wrapper { width:70%; margin-left:15%; margin-right:15%; background-color:red;}
  .sport { width:100%; height:200px; }
  .random { width:100%; height:200px; margin-left:0%;}
  #randombilde { width:100%; height: 200px;}
  h1 { font-size: 2em;}
 }


@media (max-width: 360px)
{
  h1 { font-size: 1em;}
}



