body {
  background-color: #EDEDED;
}

section {
  width: 90%;
  background-color:#FFF;
  text-align: center;
  margin-left:auto;
  margin-right:auto;
  padding-top:5%;
  border-radius:15px;
}

article {
  padding-left: 5%;
  padding-right: 5%;
  clear:left;
}

nav {
  text-align:center;
}
ol {
  list-style-type:none;
  list-style-image:none;
  margin-left: 2%;
  display:inline;
  float:left;
}

ul
{
  list-style-type:none;
  text-align:left;
}


img {
  max-width:40%;
}

a {
  color: #000;
}

a:visited {
  color:#000;
}

p
{
  text-align: left;
}
