body {
  background-color: #EDEDED;
}

section {
  width: 90%;
  background-color:#FFF;
  text-align: center;
  margin-left:auto;
  margin-right:auto;
  border-radius:15px;
}


nav {
  float: left; 
  width:90%;

}
